{% extends "template/Admin_Portal/admin_base.html" %}
{% load static %}
{% block body %}
   
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Simple Table</h4>
                  <p class="card-category"> Here is a subtitle for this table</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">
                        <th>
                          ID
                        </th>
                        <th>
                          Name
                        </th>
                        <th>
                          State
                        </th>
                        <th>
                          City
                        </th>
                        <th>
                          Job
                        </th>
                        <th>
                          Status
                        </th>
                      </thead>
                      <tbody>
                        {% for i in application %}
                        <tr>
                          <td>
                            {{i.user.username}}
                          </td>
                          <td>
                            {{i.user.registration_set.all.0.name}}
                          </td>
                          <td>
                            {{i.user.registration_set.all.0.get_state_display}}
                          </td>
                          <td>
                            {{i.user.additiondetail_set.all.0.district}}
                          </td>
                          <td class="text-primary">
                            {{i.job.job_name}}
                          </td>
                          <td>
                            {{i.status}}
                          </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  <!--   Core JS Files   -->
</body>


<script type="text/javascript">
  function selectAll() {

      var items = document.getElementById('total').value;
      for (var i = 1; i <= items; i++) {
      var id_se = 'inventory-'+i;
      var check_select = document.getElementById(id_se);
          if (check_select.type == 'checkbox')
              check_select.checked = true;
              document.getElementById("admit_form").style.display = "block";
      }
      return true;
  }

  function UnSelectAll() {
      var items = document.getElementById('total').value;
      for (var i = 1; i <= items; i++) {
      var id_se = 'inventory-'+i;
      var check_select = document.getElementById(id_se);
          if (check_select.type == 'checkbox')
              check_select.checked = false;
              document.getElementById("admit_form").style.display = "none";
      }
      return true;
  }
function select_checkbox(){
  var items = document.getElementById('all');
  if (items.checked == false){
      UnSelectAll();
  }else{
      selectAll();
  }
}

// function openform(){
//   var items = document.getElementsByClassName('select_form');
//   alert(items.id)
//   if (items.checked == true){
//       document.getElementById("admit_form").style.display = "block";
//   }
//   else{
//       document.getElementById("admit_form").style.display = "none";
//   }
      
// }
function openform(){
var items = document.getElementById('total').value;
      for (var i = 1; i <= items; i++) {
      var id_se = 'inventory-'+i;
      var check_select = document.getElementById(id_se);
          if (check_select.checked == true){
            document.getElementById("admit_form").style.display = "block";
              return true;
          }       
      }
      document.getElementById("admit_form").style.display = "none";
}

</script>
{% endblock %}