{% extends "template/index.html" %}
{% block body %}

<script src="../Scripts/jquery.validate.min.js"></script>

<style>
    .incfont {
        font-size: 12px !important;
    }
</style>
{% if request.user.is_authenticated %}
<div class="container-fluid">
    <div class="row align-content-center" style="background-color: #4572d4; color: white; ">
        <div class="col-md-6 text-center" >
        <h4 style="font-size:18px;"> Welcome {{request.user.registration_set.all.0.name|title}} </h4> </div> 
        <div class="col-md-6" style="text-align:center; padding-top:5px;" > <h6> <a href="#" style="color: white; padding-top: 20;"> Change Password </a> &nbsp; &nbsp; <a href="/logout/" style="color: white;"> - Log Out</a> </h6> </div>
    </div>
</div>
{% endif %}
    <section class="bodypartReg">
        <div class="container">
            <div class="row">
                <div class="formwithtabs">
                    <div class="clearfix"></div>
                    <div class="lefsideMenurightCntTab lefsideMenurightCntReg">
                        <div class="bdyCntReg">
                            <div class="regStrationFormSteps" style="padding-left:70px;">
                                <ul class="nav nav-tabs">
                                    <!--href="#pdetails"  href="#bdetails" href="#cdetails" href="#gdetails"-->
                                    <li class="pdetails active"><a data-toggle="tab" href="{% url 'register' %}"><i>1</i> <span>Basic Details</span></a></li>
                                    <li class="badditionaldetails active activeClass"><a><i>2</i> <span>Additional And Contact Details</span></a></li>
                                    
                                    
                                    <li class="bphotodetails"><a href="{% url 'agreecondition' %}"><i>3</i> <span>Photo And Signature Details</span></a></li>
                                    
                                </ul>
                            </div>
                            <h4 id="lblregnumber"></h4>
                            <label id="lblstatus" for="lblstatus"></label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

<section class="allDetailsTabs">
        <div class="container">
            <div class="row">

                <div class="tabContentDetails">
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane tab-pdetails active" id="pdetails">
                            <script src="../Scripts/jquery.validate-vsdoc.js"></script>

<form action="{% if register %}/edit_additional/{{request.user.id}}/{% else %}{% url 'addition_details' %}{% endif %}" method="post">
    {% csrf_token %}
        <div class="col-sm-10 col-sm-offset-1">
            <div id="printarea">
                
                <div class="regFieldStructure regFieldActiveStep">
                    <h2 style="text:uppercase; text-align:center; background-color:#4572d4;">Additional And Contact Details</h2>
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="form-group">
                            <label class="col-sm-5">11a. Category <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding"  style="padding-top: 10px;">
                                <span>
                                    <input id="Category" name="category1" type="radio" value="General" required {% if "General" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharYes">General</label>
                                </span>
                                
                                <span>
                                    <input  id="category" name="category1" type="radio" value="EWS" required  {% if "EWS" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">EWS</label>
                                </span>

                                <span>
                                    <input  id="category" name="category1" type="radio" value="OBC" required  {% if "OBC" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">OBC</label>
                                </span>
                               
							    <span>
                                    <input  id="category" name="category1" type="radio" value="ST" required  {% if "ST" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">ST</label>
                                </span>
                                
								<span>
                                    <input id="category" name="category1" type="radio" value="SC" required  {% if "SC" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">SC</label>
                                </span>

                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-sm-5">11b. Verify Category {{register.category}}<sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding" style="padding-top: 10px;">
                                <span>
                                    <input id="verifyCategory" name="category" type="radio" value="General" required {% if 'General' == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharYes">General</label>
                                </span>

                                <span>
                                    <input id="verifyCategory" name="category" type="radio" value="EWS" required {% if "EWS" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">EWS</label>
                                </span>

                                <span>
                                    <input id="verifyCategory" name="category" type="radio" value="OBC" required {% if "OBC" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">OBC</label>
                                </span>
                               
							    <span>
                                    <input  id="verifyCategory" name="category" type="radio" value="ST" required {% if "ST" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">ST</label>
                                </span>
                                
								<span>
                                    <input id="verifyCategory" name="category" type="radio" value="SC" required {% if "SC" == register.category %}checked="True" {% endif %}/>
                                    <label for="rbAadharNo">SC</label>
                                </span>

                            </div>
                        </div>
                        <div class="form-group">
                            
                            <label class="col-sm-5 pmtallocated" id="TypeofIDsupp">12. Nationality <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                <select class="form-control" id="Nationality" name="nationality" required><option value="">--Select--</option>
                                    {% for k in country %}
                                        <option value="{{k.0}}" {% if k.0 == register.nationality %}selected {% endif %}>{{k.1}}</option>
                                    {% endfor %}
                                </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            
                            <label class="col-sm-5 pmtallocated" id="8rer">13. Identification Marks <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    <textarea class="form-control text-uppercase" id="Ident_Mark" maxlength="20" name="indent_mark" onkeypress="return validateIdNumber(event);" type="text" value="{{register.indent_mark}}"  placeholder="NO MARKS" required>{{register.indent_mark}}</textarea>
                                    
                                    
                                    <label class="error-message" id="lblIDnumber"></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-5 pmtallocated">14a. Are you a Person with Benchmark disability {{register.is_disability}} <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt" style="padding-top: 10px;">
                                    
                                    <span>
                                    <input id="IsDisability1" name="is_disability" type="radio" value=1 {% if register.is_disability %}checked="True" {% endif %} />
                                    <label for="IsDisability">Yes</label>
                                </span>
                                
                                <span>
                                    <input id="IsDisability2" name="is_disability" type="radio" value=0 {% if not register.is_disability %}checked="True" {% endif %}/>
                                    <label for="IsDisability">No</label>
                                </span>

                                    <label class="error-message" id=""></label>
                                </div>
                            </div>
                        </div>
						 <div class="form-group">
                            <label id="lblnewnamesupp" class="col-sm-5 pmtallocated">14b. Type of Disability </label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    
                                    <select class="form-control" id="DisabilityType" name="type_disability" disabled><option selected>--Select Options--</option>
                                        {% for l in disability %}
                                        {% if l.0 != 0 %}
                                        <option value="{{l.0}}" {% if l.0 == register.type_disability %}selected {% endif %}>{{l.1}}</option>
                                        {% endif %}
                                        {% endfor %}
                                    </select>
                                   <p style="padding-top:10px;"><b>NOTE</b><br>
                                      <b>VH:</b>Blindness and low vision<br>
                                      <b>HH:</b>Deaf and hard of hearing<br>
                                      <b>OH:</b>Locomotor disability including cerebrel palsy, leprosy cured, dwarfism, acid attack victims and muscular dystrophy</br>
                                      <b>Others:</b>Autism, intellectual disability, specific learning disability and mental illness, multiple disabilities from amongst persons under the above mentioned clauses including deaf-blindness.</p>
                                </div>
                            </div>
                        </div>
						<div class="form-group">
                            <label id="lblnewnamesupp" class="col-sm-5 pmtallocated">14c. Disability Certificate Number</label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    
                                    <input class="form-control text-uppercase" id="CertificateNum" maxlength="60" name="certificate_disability_num" disabled onkeypress="return validNameForRegistration(event);" type="text" value="{{register.certificate_disability_num}}"/>
                                    <label class="error-message" id="lblNewName"></label>
                                </div>
                            </div>
                        </div>

						<div class="form-group">
                            <label id="lblnewnamesupp" class="col-sm-5 pmtallocated">15a. Permanent Address <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    
                                    <textarea class="form-control text-uppercase" id="permanent_address" maxlength="60" name="permanent_address" onkeypress="return validAddressForRegistration(event);" type="text" required> {{register.permanent_address}}</textarea>
                                    <label class="error-message" id="lblNewName"></label>
                                </div>
                            </div>
                        </div>

						<div class="form-group">
                            <label id="lblnewnamesupp" class="col-sm-5 pmtallocated">15b. State/ UT <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    
                                    <select class="form-control" id="State" name="state" required><option selected>--Select State--</option>
                                        {% for i in state %}
                                        <option value="{{i.0}}" {% if i.0 == register.state %}selected {% endif %}>{{i.1}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                        </div>
						<div class="form-group">
                            <label id="lblnewnamesupp" class="col-sm-5 pmtallocated">15C. District <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    
                                    <select class="form-control" id="district" name="district" required>
                                        <input type="hidden" value="{{register.district}}" id="status_value">
                                    </select>
                                    
                                </div>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-sm-5" id="lblAadharSupp">15d. PIN Code <sup>&#9733;</sup></label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    <input class="form-control" id="pin_code" maxlength="10" name="pin_code" required onkeypress="return (event.charCode == 8 || event.charCode == 9) || (event.charCode >= 48 &amp;&amp; event.charCode &lt;= 57)" type="text" value="{{register.pin_code}}" />
                                    <label class="error-message" id="lblAadharNumber"></label>
                                </div>
                            </div>
                        </div>
						<div class="form-group">
                            <label class="col-sm-5 pmtallocated">16. Is Present Address same as Permanent Address</label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt" style="padding-top: 10px;">
                                    <span>
                                        <input data-val="true" data-val-required="The HaveEverChangedName field is required." required id="is_address_same1" name="is_address_same" type="radio" value="True" {% if register.is_address_same %}checked="True" {% endif %} />
                                        <label for="rbHaveEverChangedNameYes">Yes</label>
                                    </span>
                                    <span>
                                        <input id="is_address_same2" name="is_address_same" type="radio" value="False" required {% if not register.is_address_same %}checked="True" {% endif %}/>
                                        <label for="rbHaveEverChangedNameNo">No</label>
                                    </span>
                                </div>
                            </div>
                        </div>

						<div class="form-group">
                            <label id="lblnewnamesupp" class="col-sm-5 pmtallocated">18. Contact details for other nationals</label>
                            <div class="col-sm-7 forfieldPlace nopadding">
                                <div class="formfieldCnt">
                                    
                                    <textarea class="form-control text-uppercase" id="other_contact" maxlength="60" required name="other_contact" onkeypress="return validAddressForRegistration(event);" type="text"> {{register.other_contact}}</textarea>
                                    <label class="error-message" id="lblNewName"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-5 nopadding">
                                <div class="sbmitandcancelBtns">
                                    
                                    <a href="{% if register %}/edit_register/{{request.user.registration_set.all.0.id}}/{% else %}{% url 'register' %}{% endif %}"><input type="button" value="Previous" name="btnsubmit1" class="btn btn-primary" /></a>
                                    <input onclick="check_validation()" type="submit" value="Save" class="btn btn-primary" />
									<input type="button" value="Next" id="btnsubmit1" name="btnsubmit1" class="btn btn-primary" />
                                    
                                    
                                    <input type="button" value="Reset" id="btnPersonalReset" name="btnPersonalReset" class="btn btn-warning" />
                                    <a href="../index.html" id="btnBasicClose" class="btn btn-close">Close</a>
                                    
                                </div>
                            </div>
                        </div>
                        <input id="hdnflag" name="hdnflag" type="hidden" value="" />
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade in sucMsgPopReg" id="confirmReg" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btncloseno" data-dismiss="modal" id="btncloseFrom"> Close</button>
                </div>
            </div>

        </div>
    </div>
</form>
                        </div>
                        
                    </div>
                </div>
            </div>
            </div>
    </section>
    
<script>

function check_validation(){
    return false;
}

    $("#verifyCategory").click(function () {

if($("#Category").val() != $("#verifyCategory").val()){
    $("#verifyCategory").text('Category is not varifying');
    $("#verifyCategory").val('');
}else{
    $("#verifyCategory").text('');
}
});

$("#IsDisability1").click(function () {
                    $("#DisabilityType").prop('disabled', '');
                    $("#CertificateNum").prop('disabled', '');
                    
            });
            $("#IsDisability2").click(function () {
                    $("#DisabilityType").prop('disabled','disabled');
                    // $("#DisabilityType").val(0);
                    $("#CertificateNum").prop('disabled','disabled');
                    $("#CertificateNum").val('');
            });

$("#Category").click(function () {

if($("#Category").val() != $("#verifyCategory").val()){
    $("#verifyCategory").text('Category is not varifying');
    $("#verifyCategory").val('');
}else{
    $("#verifyCategory").text('');
}
});
    {% for i in messages %}
    alert('{{i}}');
    {% endfor %}
</script>


<script>

$('#State').change(function(e) {
    var state = $("#State").val();
    var status_value = $("#status_value").val();
    myselect =  $('#district');
    $.ajax({
        url:"/get-district/?state="+state+"",
        success: function(data)

                           {
                           myselect.empty();
                           myselect.append("<option value='0' selected='selected'>--Select District--</option>");
                           for(i=0;i<data.length;i++)
                            {

                                {
                                myselect.append("<option value="+data[i]+">" + data[i] + "</option>");
                                }
                                }
                            }

    })

});

$(document).ready(function(e) {
        $("#DisabilityType").prop('required', 'required');
        $("#CertificateNum").prop('required', 'required');
})

$(document).ready(function(e) {
    var state = $("#State").val();
    var status_value = $("#status_value").val();
    myselect =  $('#district');
    $.ajax({
        url:"/get-district/?state="+state+"",
        success: function(data)

                           {
                           myselect.empty();
                           myselect.append("<option selected='selected'>--Select District--</option>");
                           for(i=0;i<data.length;i++)
                            {
                            if(data[i] == status_value)
                                {
                            myselect.append("<option value="+data[i]+" selected='selected'>" + data[i] + "</option>");
                                }
                            else
                                {
                                myselect.append("<option value="+data[i]+">" + data[i] + "</option>");
                                }
                                }
                            }

    })
    

});
</script>


{% endblock %}