{% load static %}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" type="icon/png" href="{% static 'images/5.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>admit Card</title>

<style>

.txt-center {
    text-align: center;
}
.border- {
    border: 1px solid #000 !important;
}
.padding {
    padding: 15px;
}
.mar-bot {
    margin-bottom: 15px;
}
.admit-card {
    border: 2px solid #000;
    padding: 15px;
    margin: 20px 0;
}
.BoxA h5, .BoxA p {
    margin: 0;
}
h5 {
    text-transform: uppercase;
}
table img {
    width: 100%;
    margin: 0 auto;
}
.table-bordered td, .table-bordered th, .table thead th {
    border: 1px solid #000000 !important;
}
</style>



  </head>
  <body>
    
<section>
	<div class="container" style="background-color: papayawhip">
		<div class="admit-card">
			<div class="BoxC border- padding mar-bot" style="background-color: powderblue;">
				<div class="row">
					<div class="col text-center">
						<h4>Admit Card</h4>
						<h5>{{admit_card.application.job.job_name}},{{admit_card.application.job.job_year}}</h5>
					</div>
				</div>
			</div>
			<div class="BoxA border- padding mar-bot">
				<div class="row">
					<div class="col-sm-4">
						<h5> Skill India NSDC India</h5>
						<p>Jaipur <br> RAJASTHAN, INDIA</p>
					</div>
					<div class="col-sm-4 txt-center">
						<img src="{% static 'images/website_logo.png' %}" width="125px;" />
					</div>
					<div class="col-sm-4">
						<h5>Contact Us</h5>
						<p> Website : <a href="https://www.skillindiansdcindia.com" style="text-decoration: none; color: black;"> https://www.skillindiansdcindia.com </a> </p>
                        <p> Helpline No. : <a href="tel:0778909867" style="text-decoration: none; color: black;"> 0778909867 </a> </p>
                        <p> Email-id : <a href="mailto:nsdc@skillindiansdcindia.co" style="text-decoration: none; color: black;"> nsdc@skillindiansdcindia.com </a> </p>
					</div>
				</div>
			</div>
			<div class="BoxC border- padding mar-bot" style="background-color: powderblue;">
				<div class="row">
					<div class="col-sm-6">
						<h8><b>Enrollment No : </b>{{admit_card.user.username}}</h8>
					</div>
				</div>
			</div>
			<div class="BoxD border- padding mar-bot">
				<div class="row">
					<div class="col-sm-9">
						<table class="table table-bordered">
						  <tbody>
							<!-- <tr>
							  <td><b>ENROLLMENT NO : </b></td>
							  <td><b>Course: </b> SSC CGL </td>
							</tr> -->
							<tr>
							  <td><b>Student Name: </b>{{request.user.registration_set.all.0.name|upper}}</td>
							  <td><b>Sex: </b>{{request.user.registration_set.all.0.get_gender_display}}</td>
							</tr>
							<tr>
							  <td><b>Father/Husband Name: </b>{{request.user.registration_set.all.0.father_name|upper}}</td>
							  <td><b>DOB: </b>{{request.user.registration_set.all.0.dob}}</td>
							</tr>
							<tr>
								<td><b>Exam Date: </b>{{admit_card.exam_date}}</td>
								<td><b>Reporting Time: </b>{{admit_card.exam_reporting_time}}</td>
							  </tr>
							  <tr>
								<td><b>Exam Start Time: </b>{{admit_card.exam_start_time}}</td>
								<td><b>Exam End Time: </b>{{admit_card.exam_end_time}}</td>
							  </tr>
							  <tr>
								<td><b>Gate Close Time: </b>{{admit_card.exam_gate_close}}</td>
								<td><b>Exam Shift: </b>{{admit_card.exam_shift}}</td>
							  </tr>
							<tr>
							  <td colspan="2" style="    height: 70px;"><b>Address: </b>{{addtion.user.additiondetail_set.all.0.permanent_address}},{{addtion.user.additiondetail_set.all.0.district}},{{addtion.user.additiondetail_set.all.0.get_state_display}}-{{addtion.user.additiondetail_set.all.0.pin_code}}</td>
							</tr>
						  </tbody>
						</table>
					</div>
					<div class="col-sm-3 txt-center">
						<table class="table table-bordered">
						  <tbody>
							<tr>
							  <th scope="row txt-center"><img src="{{admit_card.user.application_set.all.0.photo.url}}" width="123px" height="165px" /></th>
							</tr>
							<tr>
							  <th scope="row txt-center"><img src="{{admit_card.user.application_set.all.0.signature.url}}" /></th>
							</tr>
						  </tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="BoxE border- padding mar-bot txt-center" style="background-color: powderblue;">
				<div class="row">
					<div class="col-sm-12">
						<h5>EXAMINATION VENUE</h5>
						<p>{{admit_card.exam_venue}}<br>{{admit_card.exam_center}}, INDIA</p>
					</div>
				</div>
			</div>
			<div class="BoxE border- padding mar-bot" style="background-color: rgb(180, 176, 230);">
				<div class="row">
					<div class="col-sm-12">
						<h5 class="txt-center">Instructions</h5>
						<p>1. Check the examinationdatesheet carefully. Make sure you know the correct date, time
							and locations of your exams. <br>
							2. Bring your Student Admit Card and ID Card both during the examination. You
							will not be allowed to enter the examination hall without these. <br>
							3. Do not bring any unauthorized material (e.g. written notes, notes in dictionaries,
							paper, and sticky tape eraser etc.). Avoid taking Pencil cases and glasses cases to your
							desks. These will be checked and confiscated. <br>
							4. Answer sheets may be given to you 10 minutes prior to start of examination, so that
							you can check any discrepancy in the answer sheet. Read the instructions written on
							front sheet of your answer sheet and fill the data carefully. Do not write name, roll no.
							etc on the other pages of answer sheet except the front page. <br>
							5. Students are instructed to cross the blank sheets before handing over the answer sheet
							to the invigilator. <br>
							6. No sheet should be left blank. Any written material after a blank sheet will not
							be evaluated/checked. <br>
							7. Ensure that you use the washroom before arriving for your exam as you will not be
							permitted to leave during the first half time.</p>
					</div>
				</div>
			</div>
			<footer class="txt-center">
				<p>Skill India NSDC India</p>
			</footer>
			
		</div>
	</div>
	
</section>
<center><button class="btn btn-primary" onclick="window.print();">print</button></center>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>