{% extends "template/index.html" %}
{% block body %}
 <script src="../Scripts/jquery.validate-vsdoc.js"></script>

<style>
    .incfont {
        font-size: 12px !important;
    }
</style>

    <section class="bodypartReg">
        <div class="container">
            <div class="row">
                <div class="formwithtabs">
                    <div class="clearfix"></div>
                    <div class="lefsideMenurightCntTab lefsideMenurightCntReg">
                        <div class="bdyCntReg">
                            <div class="regStrationFormSteps" style="padding-left:70px;">
                                <ul class="nav nav-tabs">
                                    <!--href="#pdetails"  href="#bdetails" href="#cdetails" href="#gdetails"-->
                                    <li class="pdetails active"><a href="{% url 'agreecondition' %}" data-toggle="tab"><i>1</i> <span>Basic Details</span></a></li>
                                    <li class="badditionaldetails active"><a href="{% url 'edit_additional' request.user.id %}"><i>2</i> <span>Additional And Contact Details</span></a></li>
                                    
                                    
                                    <li class="bphotodetails active activeClass"><a> <i>3</i> <span>Photo And Signature Details</span></a></li>
                                    
                                </ul>
                            </div>
                            <h4 id="lblregnumber"></h4>
                            <label id="lblstatus" for="lblstatus"></label>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </section>

    <section class="allDetailsTabs">
        <div class="container">
            <div class="row">

                <div class="tabContentDetails">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane tab-pdetails active" id="pdetails">
                            <script src="../Scripts/jquery.validate-vsdoc.js"></script>


<form action="" method="post">
    {% csrf_token %}
        <div class="col-sm-10 col-sm-offset-1">
            <div id="printarea">
                
                <div class="regFieldStructure regFieldActiveStep">
                    <h2 style="text:uppercase; text-align: center; background-color: #4572d4;">Declaration</h2>
                    <div class="col-sm-10 col-sm-offset-1">
					
					<p><b>Declaration:</b> I hereby declare that the information given by me in this form is true, complete and correct to the best of my knowledge and belief. I understand that in the event of any information being found false or incorrect at any stage, my candidature/appointment is liable to be cancelled/terminated. </p>
                         <div class="form-group">   
							 <input type="checkbox"  value="True" name="agreement" {% if register.agreement %}checked="True"{% endif %}/>
                             <label> I Agree </label>
                         </div>							 
                        
                        <div class="form-group">
                            <div class="col-sm-7 col-sm-offset-5 nopadding">
                                <div class="sbmitandcancelBtns">
                                    
                                    <a href="{% url 'addition_details' %}"><input type="button" value="Previous" name="btnsubmit1" class="btn btn-primary" /></a>
                                    <input type="button" value="Take Draft Print" id="btnsubmit1" name="btnsubmit1" class="btn btn-primary" />
									<input type="submit" value="Final Submit" id="btnsubmit1" name="btnsubmit1" class="btn btn-primary" />
                                 
                                    <a href="/" id="btnBasicClose" class="btn btn-close">Close</a>
                                    
                                </div>
                            </div>
                        </div>
                        <input id="hdnflag" name="hdnflag" type="hidden" value="" />
                    </div>
                </div>
            </div>
        </div>

    <div class="modal fade in sucMsgPopReg" id="confirmReg" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-body ">
                    
                    <p class="confirmRegMsg" id="sucMsgPopRegText">hhhhhh</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning btncloseno" data-dismiss="modal" id="btncloseFrom"> Close</button>
                </div>
            </div>

        </div>
    </div>
</form>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </section>


<script>
    {% for i in messages %}
    alert('{{i}}');
    {% endfor %}
</script>

{% if error %}
<script>
    alert('First add additional detail');
</script>
{% endif %}
{% endblock %}