{% extends "template/index.html" %}
{% block body %}

    <style>
        a{
            color:rgb(255, 255, 255);
            text-decoration: none;
        }
        .apple a{
            color:rgb(255, 255, 255);
            text-decoration: none;
        }
        a:hover{
            color:rgb(255, 255, 255);
            text-decoration: none;
        }
        div.active{
            color: rgb(255, 255, 255);
            background-color: #036800;
        }
        .Header{
            background-color:#394B71 ;
            color: white;
            border-style: solid;
            border-color: white;
            height: 30px;
            text-align: center;
            border-width: 1px;
            padding-top: 3px;
            
        }
        .contain {
	
	overflow-x: auto;
	white-space: nowrap;
}

	
	
	th, td {
		padding: .5em;
      
	}
    th{
        width:400px;
    }
        
    </style>   
</head>
<body>

    <div class="container-fluid">
        <div class="row align-content-center" style="background-color: #4572d4; color: white; ">
            <div class="col-md-6 text-center" >
            <h4 style="font-size:18px;"> Welcome {{request.user.registration_set.all.0.name|title}} </h4> </div> 
            <div class="col-md-6" style="text-align:center; padding-top:5px;" > <h6> <a href="/change-password/" style="color: white; padding-top: 20;"> Change Password </a> &nbsp; &nbsp; <a href="/logout/" style="color: white;"> - Log Out</a> </h6> </div>
        </div>
    </div>
    <div class="container" style="margin-top: 20px;">
        <div class="row">
            <div class="col-md-3 Header"><a href="{% url 'candidate' %}" style="color: white;">Latest Notification</a></div>
            <div class="col-md-3 Header"><a href="{% url 'candidate-history' %}" style="color: white;">Application History</a></div>
            <div class="col-md-3 Header"><a href="/edit_register/{{request.user.registration_set.all.0.id}}/" style="color: white;">Modify Registration</a></div>
            <div class="col-md-3 Header active"><a href="{% url 'candidate-marks' %}">Results/Marks</a></div>
        </div>
       



        <form action="https://ssc.nic.in/Registration/PVPersonalDetails?HttpMethod=POST&amp;InsertionMode=Replace&amp;LoadingElementDuration=0&amp;AllowCache=False" method="post"><input name="__RequestVerificationToken" type="hidden" value="h8bX5ezsZLYfK2-TACgZqN7Zcnkh904ADemRFHzBEHqFwf1p1VIgQIaGZfSdomx8IIs3gNSHCUoKliWhUSLLjVlwUviuXTtMfDN0LVXAmrM1" />    <div class="registration-formFields">
            <div class="col-sm-8 col-sm-offset-2">
                <div id="printarea">
                    
                    <div class="regFieldStructure regFieldActiveStep">
                        <h2 class="text-center" style="text:uppercase">Results / Marks </h2> </div>
                        <div class="form-group text-center">
                                
                            <label class="pmtallocated" id="TypeofIDsupp"> Examination Name</label>
                        </div>
                        <div class="form-group text-center">
                            <div class="col-md-12 forfieldPlace nopadding" style="padding: 0px 20px;">
                                <div class="formfieldCnt">
                                    <select class="custom-select" id="inputGroupSelect01">
                                        <option selected>--Select Examination--</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-center">
                                
                            <label class="pmtallocated" id="TypeofIDsupp"> Registration Number </label>
                        </div>
                        <div class="form-group text-center" style="padding-bottom: 20px;">
                            <div class="col-md-12 forfieldPlace nopadding" style="padding: 0px 20px;">
                                <div class="formfieldCnt">
                                    <input class="form-control" id="DateOfBirth" maxlength="10" name="DateOfBirth" onkeypress="return (event.charCode >= 48 &amp;&amp; event.charCode &lt;= 57)||(event.keyCode == 8)||(event.keyCode == 9)||(event.keyCode == 47)" type="text" value="" />
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>    
    </form>





        <div class="footerpart">
            <footer class="footerparttop">
                <div class="container">
                    <div class="row">
                        <div class="footerDiv">
                            <div class="col-sm-12 col-md-12 text-center">
                                <div class="footerTitle">
                                    <h5>Staff Selection Commission</h5>
                                    <p>Block No-12, CGO Complex, Lodhi Road, New Delhi-110003</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <footer class="cpyrighPart">
                <div class="container">
                    <div class="row">
                        <div class="copyrightsSection">
                            <div class="col-sm-3">
                                <div class="cpyrightTxt">
                                    <p>&copy; 2018 SSC. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="lastUpdatedTxt">
                                    <p> Last updated on <label id="lastUpdatedDate"></label></p>
                                </div>
                            </div>
        
                            <div class="col-sm-5">
                                <div class="termsandconditionLinks text-right">
                                    <ul>
                                        
                                        <li><a href="../Portal/Archives.html">Archives</a></li>
                                        <li><a href="../Portal/Disclaimer.html">Disclaimer</a></li>
                                        <li><a href="../Portal/Sitemap.html">Sitemap</a></li>
                                        <li><a href="../Portal/Help.html">Help</a></li>
                                        <li><a href="../Portal/WebsitePolicy.html">Website Policies</a></li>
                                        <li><a href="../Portal/WebsiteManager.html">Web Information Manager</a></li>
        
                                        
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        
  </div>
  </body>

  {% endblock %}